.container {
    height: 100px;
    padding: 10px 50px;
    margin: -10px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item {
    flex: 2;
    display: flex;
    align-items: center;
}

.item:nth-child(2) {
    flex: 3;
}

.item:last-child {
    justify-content: flex-end;
}

.callButton {
    border-radius: 100%;
    padding: 10px;
}

.texts {
    margin-left: 5px;
    color: white;
}

.text:first-child {
    font-size: 12px;
    padding: 3px;
}

.text:last-child {
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
}

.listItem {
    margin: 20px;
}

.cartIcon,
.telephoneIcon {
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.cart {
    position: relative;
}

.counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: pink;
}

@media screen and (max-width:480px) {
    .item:nth-child(2) {
        display: none;
    }

    .item:nth-child(1) {
        flex: 3;
    }

    .container{
        margin-right: -25px;
    }
}